.button {

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        
        background: linear-gradient(90deg, #f97316, #ec4899);
        color: whitesmoke;
    }

    &:active{
        transform: scale(0.9);
    }

}